* {
    box-sizing: border-box;
}
html {
    font-family: Arimo, sans-serif;
    font-size: 100%;
    color: black;
}

ul {
    font-size: 0.875rem;
    color: black;
}
    
img {
    max-width: 400px;
        
}


      
.section-landing {
    height: 75vh;
}


.section1 {
    width:50vw
}



    
.section2 {
    width: 50vw;
}
.section-button-landing {
    width: 90vw;
}